@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url(/fonts/Roboto-Thin.woff) format(woff), url(/fonts/Roboto-Thin.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(/fonts/Roboto-Light.woff) format(woff), url(/fonts/Roboto-Light.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.woff) format(woff), url(/fonts/Roboto-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(/fonts/Roboto-Medium.woff) format(woff), url(/fonts/Roboto-Medium.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(/fonts/Roboto-Bold.woff) format(woff), url(/fonts/Roboto-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url(/fonts/Roboto-Black.woff) format(woff), url(/fonts/Roboto-Black.woff2) format(woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

button {
  cursor: pointer;
}

.container {
  width: 1728px;
  margin: 0 auto;
}

@media only screen and (max-width: 1258px) {
  .container {
    width: 1258px;
  }
}
@media only screen and (max-width: 834px) {
  .container {
    width: 834px;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    width: 360px;
  }
}
<<<<<<< HEAD
.header__wrapper {
  padding: 0 425px;
=======
.header__top {
  display: flex;
  gap: 80px;
  padding: 17px 425px;
  background-color: #000000;
>>>>>>> origin/main
}

.header__link {
  font-size: 14px;
<<<<<<< HEAD
  color: #FFFFFF;
}

.category__menu {
  display: flex;
  gap: 5px;
  margin-left: 309px;
}

.category__list {
  font-size: 14px;
  line-height: 16.41px;
  color: #424242;
}

.dark-one {
  font-weight: 500;
  color: #000000;
}

.category__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37.5px;
  color: #212121;
  margin: 30px 0 40px 309px;
}

.category__nav2 {
  display: flex;
  gap: 395px;
}

.category__selection {
  margin-left: 309px;
  display: flex;
  gap: 30px;
}

.selection__btn {
  width: 160px;
  height: 40px;
  border: 1px solid #C7C7C7;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #C7C7C7;
  background-color: white;
  cursor: pointer;
  text-align: left;
  padding-left: 10px;
  border-radius: 4px;
  position: relative;
}

.down-arrow {
  position: absolute;
  text-align: center;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
}

.selection__btn-red {
  background-color: #DC4433;
  color: white;
  text-align: center;
  border-color: transparent;
}

.search-first {
  margin-left: 1069px;
}

.search__down-arrow {
  text-align: center;
}

.category__search {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.search-text {
  margin-left: 5px;
  font-size: 14px;
  line-height: 16.41px;
  color: #424242;
}

.first-text {
  margin-right: 42px;
}

.search-type__wrapper {
  display: flex;
  margin-left: 309px;
}

.search-type__sort {
  width: 255px;
  height: 30px;
  border: 1px solid #C7C7C7;
  background-color: white;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
  transition: 0.2s linear;
  cursor: pointer;
  text-align: left;
  padding-left: 15px;
}

.sort1 {
  margin-right: 315px;
  position: relative;
}
.sort1::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(/scss/pages/category/assests/down-arrow2.svg);
  left: 210px;
  background-repeat: no-repeat;
}

.sort2 {
  margin-right: 30px;
  position: relative;
}
.sort2::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(/scss/pages/category/assests/second-btn-things.svg);
  left: 200px;
  background-repeat: no-repeat;
}
.sort2::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(/scss/pages/category/assests/second-btn-things2.svg);
  left: 224px;
  background-repeat: no-repeat;
}

.search-type__sort:hover {
  transform: scale(1.1);
}

.sort3-number {
  margin-left: 91px;
  color: #C7C7C7;
}

.thirty-six {
  margin-left: 10px;
}

.sort3-number__black {
  color: #000000;
  margin-right: 10px;
}

.category__hero-item__box {
  width: 255px;
  height: 434px;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  background-color: white;
}

.category__hero-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  color: #000000;
  margin-left: 10px;
  margin-bottom: 5px;
}

.category__hero-item__comfort {
  font-size: 18px;
  line-height: 21.09px;
  color: #000000;
  margin-left: 10px;
  margin-bottom: 10px;
}

.category__hero-item__credit {
  font-size: 12px;
  line-height: 14.06px;
  color: #424242;
  margin-left: 10px;
  margin-bottom: 10px;
}

.category__hero-item__inner-box {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 235px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.inner-box__info {
  width: 55px;
  height: 18px;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  font-size: 10px;
  line-height: 11.72px;
  color: #424242;
  text-align: center;
  place-content: center;
}

.inner-box__info2 {
  width: 235px;
}

.category__hero-item__price-info {
  font-size: 13px;
  line-height: 15.23px;
  color: #424242;
  margin-left: 10px;
}

.category__hero-item__price-at__numbers {
  font-weight: 500;
  font-size: 13px;
  line-height: 15.23px;
  color: #000000;
  margin-left: 10px;
}

.item-price__info2 {
  margin-bottom: 10px;
}

.item-price__info3 {
  margin-bottom: 25px;
}

.category__hero-item__car-link {
  margin-left: 10px;
}

.category__hero-item__info-btn {
  width: 235px;
  height: 40px;
  background-color: #DC4433;
  border-radius: 4px;
  border-color: transparent;
  color: white;
  line-height: 18.75px;
  transition: 0.2s linear;
}

.category__hero-item__info-btn:hover {
  transform: scale(1.1);
}

.category__hero-wrapper {
  margin-left: 309px;
  margin-top: 20px;
  width: 1110px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.more-cars {
  margin: 50px 0 40px 704px;
  width: 320px;
  height: 60px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #000000;
  color: white;
  font-weight: 500;
  line-height: 18.75px;
  font-size: 1rem;
}

.more-numbers {
  width: 434px;
  height: 18px;
  margin-left: 667px;
  display: flex;
  justify-content: space-between;
}

.more-number__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #424242;
  cursor: pointer;
  transition: 0.1s linear;
}

.more-number__item:hover {
  transform: scale(1.2);
}

.left-arrow:hover {
  transform: scale(1.2);
}

.right-arrow:hover {
  transform: scale(1.2);
}

.right-arrow {
  transition: 0.1s linear;
  cursor: pointer;
}

.left-arrow {
  transition: 0.1s linear;
  cursor: pointer;
=======
  font-weight: 400;
  color: #FFFFFF;
}

.link-clock {
  width: 241px;
}

.link-clock::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../pages/main/clock.png ");
  background-size: cover;
}

.hero__wrapper {
  padding: 80px 309px;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__minititle-1 {
  font-weight: 600;
  font-size: 28px;
}

.hero__title {
  font-weight: 600;
  font-size: 42px;
}

.hero__minititle-2 {
  font-weight: 700;
  font-size: 28px;
  color: #DC4433;
}

.hero__box {
  display: flex;
  gap: 2px;
  margin-top: 15px;
}

.hero__btn {
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
  border-style: none;
  font-size: 12px;
}

.red {
  color: #DC4433;
  font-weight: 500;
}

.hero__text {
  font-size: 12px;
  color: #212121;
}

.hero__img {
  width: 875px;
  height: 368px;
  margin-top: -368px;
  margin-left: 651px;
}

.hero__menu {
  display: flex;
  gap: 20px;
  margin: 25px 784px;
}

.hero__item {
  background-color: #C7C7C7;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.item-active {
  background-color: #212121;
}

.try__wrapper {
  background-image: url("./main/black.bg.jpg");
  background-size: cover;
  padding: 40px 309px;
  width: 1728px;
  height: 240px;
>>>>>>> origin/main
}/*# sourceMappingURL=main.css.map */