<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__top">
          <a href="" class="header__link link-clock"
            >Работаем ежедневно с 9:00 до 21:00</a
          >
          <a href="" class="header__link link-tel"
            >8 800 777-77-77
            <span class="link-thin">(Звонок по России бесплатный)</span></a
          >
          <a href="" class="header__link link-search">Поиск</a>
          <a href="" class="header__link link-reverse">Обратный звонок</a>
        </div>
        <div class="header__bottom">
          <img
            src="/scss/pages/autocredit/assets-auto/main logogo.png"
            alt=""
            class="header__logo"
          />
          <ul class="header__bottom-menu">
            <li class="header__bottom-list">
              <a href="./catogory.html" class="header__bottom-first-link"
                >Новые автомобили</a
              >
            </li>
            <li class="header__bottom-list">
              <a href="" class="header__bottom-second-link">С пробегом</a>
            </li>
            <li class="header__bottom-list">
              <a href="" class="header__bottom-third-link">Такси в кредит</a>
            </li>
            <li class="header__bottom-list">
              <a href="" class="header__bottom-auto-link">Автокредит</a>
            </li>
            <li class="header__bottom-list">
              <a href="" class="header__bottom-fourth-link">Услуги</a>
            </li>
            <li class="header__bottom-list">
              <a href="" class="header__bottom-fifth-link">О компании</a>
            </li>
            <li class="header__bottom-list">
              <a href="./contact.html" class="header__bottom-link-contact"
                >Контакты</a
              >
            </li>
          </ul>
        </div>
        <hr />
      </div>
    </header>
    <main>
      <div class="container">
        <section class="hero">
          <div class="hero__top">
            <p class="hero__top-text">Главная</p>
            <i class="bi bi-chevron-right"></i>
            <h4 class="hero__top-title">Автокредит</h4>
          </div>
          <h1 class="hero__title">Автокредит в Авто Динамика</h1>
          <p class="hero__text">
            Компания Авто Динамика предлагает купить в кредит автомобиль без
            первоначального взноса. При оформлении автокредита Вы можете выбрать
            новый или подержанный автомобиль.
          </p>
          <div class="hero__main-part">
            <div class="hero__registration">
              <div class="hero__reg-right">
                <h2 class="hero__reg-title">Кредитный калькулятор</h2>
                <form action="" class="hero__form"></form>
              </div>
            </div>
          </div>
        </section>
        <section class="program">
          <h2 class="program__title">Кредитные программы</h2>
          <p class="program__text">
            Можете выбрать подходящую для Вас кредитную программу на в
            автосалоне Авто Динамика!
          </p>
          <div class="program__boxes">
            <div class="program__kia">
              <img
                src="/scss/pages/autocredit/assets-auto/kia.png"
                alt="kia avtomobili logotip rasmi"
                class="progrem__pic"
              />
              <p class="progrem__kia-text">KIA Finance</p>
            </div>
            <div class="program__kia">
              <img
                src="/scss/pages/autocredit/assets-auto/suzuki.png"
                alt="kia avtomobili logotip rasmi"
                class="progrem__pic"
              />
              <p class="progrem__kia-text">Suzuki Finance</p>
            </div>
            <div class="program__kia">
              <img
                src="/scss/pages/autocredit/assets-auto/chery.png"
                alt="kia avtomobili logotip rasmi"
                class="progrem__pic"
              />
              <p class="progrem__kia-text">Chery Finance</p>
            </div>
            <div class="program__kia">
              <img
                src="/scss/pages/autocredit/assets-auto/gely.png"
                alt="kia avtomobili logotip rasmi"
                class="progrem__pic"
              />
              <p class="progrem__kia-text">Geely Finance</p>
            </div>
            <div class="program__kia">
              <img
                src="/scss/pages/autocredit/assets-auto/lada.png"
                alt="kia avtomobili logotip rasmi"
                class="progrem__pic"
              />
              <p class="progrem__kia-text">Lada Finance</p>
            </div>
          </div>
          <h2 class="program__credit">Условия получения кредита</h2>
          <div class="progran__main-box">
            <div class="program__line"></div>
            <div class="program__credit-tablet">
              Требования к заемщику
              <div class="program__plus">+</div>
            </div>
            <div class="program__line"></div>
            <div class="program__credit-tablet">
              Требования к документам
              <div class="program__plus">+</div>
            </div>
            <div class="program__line"></div>
            <div class="program__credit-tablet">
              Правовая информация
              <div class="program__plus">+</div>
            </div>
            <div class="program__line"></div>
          </div>
        </section>
      
      </div>
    </main>
  </body>
</html>
