<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__bottom">
                <img src="/scss/pages/autocredit/assets-auto/main logogo.png" alt="" class="header__logo">
                <ul class="header__bottom-menu">
                    <li class="header__bottom-list">
                        <p class="header__bottom-text">Новые автомобили</p>
                    </li>
                    <li class="header__bottom-list">
                        <p class="header__bottom-text">С пробегом</p>
                    </li>
                    <li class="header__bottom-list">
                        <p class="header__bottom-text">Такси в кредит</p>
                    </li>
                    <li class="header__bottom-list">
                        <p class="header__bottom-auto-text">Автокредит</p>
                    </li>
                    <li class="header__bottom-list">
                        <p class="header__bottom-text">Услуги</p>
                    </li>
                    <li class="header__bottom-list">
                        <p class="header__bottom-text">О компании</p>
                    </li>
                    <li class="header__bottom-list">
                        <p class="header__bottom-text-contact">Контакты</p>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>