<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div class="container">
			<div class="category__nav">
				<ul class="category__menu">
					<li class="category__list">Главная</li>
					<li class="category__list">></li>
					<li class="category__list">Новые автомобили</li>
					<li class="category__list">></li>
					<li class="category__list dark-one">KIA</li>
					<li class="category__list">></li>
					<li class="category__list dark-one">RIO X</li>
				</ul>
				<div class="category__nav2">
					<p class="category__title">Новые автомобили KIA купить в Москве</p>
					<img
						src="/scss/pages/category/assests/kia-logo.svg"
						alt="logo"
						class="category__logo"
					/>
				</div>
				<div class="category__selection">
					<button class="selection__btn">
						<span class="black__one"
							>KIA
							<img
								src="/scss/pages/category/assests/down-arrow.svg"
								alt=""
								class="down-arrow"
						/></span>
					</button>
					<button class="selection__btn">
						Модель
						<img
							src="/scss/pages/category/assests/down-arrow.svg"
							alt=""
							class="down-arrow"
						/>
					</button>
					<button class="selection__btn">
						Тип кузова
						<img
							src="/scss/pages/category/assests/down-arrow.svg"
							alt=""
							class="down-arrow"
						/>
					</button>
					<button class="selection__btn">
						Коробка
						<img
							src="/scss/pages/category/assests/down-arrow.svg"
							alt=""
							class="down-arrow"
						/>
					</button>
					<button class="selection__btn">
						Цена до
						<img
							src="/scss/pages/category/assests/down-arrow.svg"
							alt=""
							class="down-arrow"
						/>
					</button>
					<button class="selection__btn selection__btn-red">Показать</button>
				</div>
				<div class="category__search">
					<img
						src="/scss/pages/category/assests/down-arrow2.svg"
						alt=""
						class="search__down-arrow search-first"
					/>
					<p class="search-text first-text">Расширенный поиск</p>
					<img
						src="/scss/pages/category/assests/cross.svg"
						alt=""
						class="search__down-arrow"
					/>
					<p class="search-text">Сбросить фильтры</p>
				</div>
				<div class="search-type__wrapper">
					<button class="search-type__sort sort1">Сортировать по:</button>
					<button class="search-type__sort sort2">Отображать:</button>
					<button class="search-type__sort sort3">
						Показать:
						<span class="sort3-number"
							><span class="sort3-number__black">12</span><span> 24</span>
							<span class="thirty-six"> 48 </span></span
						>
					</button>
				</div>
			</div>
			<main class="category__main">
				<section class="category__hero">
					<div class="category__hero-wrapper">
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/first-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/second-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/third-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/fourth-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/first-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/second-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/third-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/fourth-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/first-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/second-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/third-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
						<div class="category__hero-item__box">
							<img
								src="/scss/pages/category/assests/fourth-car.svg"
								alt="car"
								class="category__hero-img"
							/>
							<p class="category__hero-item__title">KIA RIO X-line</p>
							<p class="category__hero-item__comfort">Comfort</p>
							<p class="category__hero-item__credit">Автомобиль в наличии</p>
							<div class="category__hero-item__inner-box">
								<div class="inner-box__info">2023</div>
								<div class="inner-box__info">Бензин</div>
								<div class="inner-box__info">1.6</div>
								<div class="inner-box__info">Механика</div>
								<div class="inner-box__info inner-box__info2">
									Цвет кузова: Atlas White
								</div>
							</div>
							<p class="category__hero-item__price-info item-price__info2">
								Цена со скидкой:
								<span class="category__hero-item__price-at__numbers"
									>от 10 000 000 руб.</span
								>
							</p>
							<p class="category__hero-item__price-info item-price__info3">
								В кредит:
								<span class="category__hero-item__price-at__numbers"
									>от 60 000 руб/мес</span
								>
							</p>
							<a href="./model.html" class="category__hero-item__car-link"
								><button class="category__hero-item__info-btn">
									Подробнее о модели
								</button></a
							>
						</div>
					</div>
					<button class="more-cars">Показать еще</button>
					<div class="more-numbers">
						<div class="more-number__item">
							<img
								src="/scss/pages/category/assests/left-arrow.svg"
								alt="left-arrow"
								class="left-arrow"
							/>
						</div>
						<div class="more-number__item one-number">1</div>
						<div class="more-number__item">2</div>
						<div class="more-number__item">3</div>
						<div class="more-number__item">4</div>
						<div class="more-number__item">5</div>
						<div class="more-number__item">
							<img
								src="/scss/pages/category/assests/dottes.svg"
								alt="left-arrow"
								class="left-arrow"
							/>
						</div>
						<div class="more-number__item">12</div>
						<div class="more-numbers__item">
							<img
								src="/scss/pages/category/assests/right-arrow.svg"
								alt="left-arrow"
								class="left-arrow"
							/>
						</div>
					</div>
				</section>

				<section class="section2-cars">
					<div class="section2-title__box">
						<p class="section2__title">Вам может быть интересно:</p>
						<p class="section2__info">Посмотреть все</p>
					</div>
					<div class="section2__wrapper">
						<div class="section2__box">
							<img
								src="/scss/pages/category/assests/black-car.svg"
								alt="car"
								class="car-img"
							/>
						</div>
					</div>
				</section>
			</main>
		</div>
	</body>
</html>
