<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div class="container">
			<div class="category__nav">
				<ul class="category__menu">
					<li class="category__list">Главная</li>
					<li class="category__list">></li>
					<li class="category__list">Новые автомобили</li>
					<li class="category__list">></li>
					<li class="category__list dark-one">KIA</li>
					<li class="category__list">></li>
					<li class="category__list dark-one">RIO X</li>
				</ul>
                <p class="category__title">Новые автомобили KIA купить в Москве</p>
			</div>
		</div>
	</body>
</html>
