<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__top">
            <a href="" class="header__link link-clock"
              >Работаем ежедневно с 9:00 до 21:00</a
            >
            <a href="" class="header__link link-tel"
              >8 800 777-77-77
              <span class="link-thin">(Звонок по России бесплатный)</span></a
            >
            <a href="" class="header__link link-search">Поиск</a>
            <a href="" class="header__link link-reverse">Обратный звонок</a>
          </div>
          <div class="header__bottom">
            <img
              src="/scss/pages/autocredit/assets-auto/main logogo.png"
              alt=""
              class="header__logo"
            />
            <ul class="header__bottom-menu">
              <li class="header__bottom-list">
                <a href="./catogory.html" class="header__bottom-first-link"
                  >Новые автомобили</a
                >
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-second-link">С пробегом</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-third-link">Такси в кредит</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-auto-link">Автокредит</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-fourth-link">Услуги</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-fifth-link">О компании</a>
              </li>
              <li class="header__bottom-list">
                <a href="./contact.html" class="header__bottom-link-contact"
                  >Контакты</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="contact">
        <div class="container">
          <div class="contact__wrapper">
            <h4 class="contact__minititle">
              <span class="grey">Главная > </span> Контакты
            </h4>
            <h2 class="contact__title">Контакты</h2>
            <div class="contact__info">
              <img
                src="../scss/pages/contacts/contacts/contact-location.png"
                alt=""
                class="contact__location"
              />
              <div class="contact__box">
                <div class="contact__subinfo">
                  <h5 class="contact__subminititle">Телефон</h5>
                  <h3 class="contact__subtitle">8 800 777-77-77</h3>
                  <p class="contact__subtext">Звонок по России бесплатный</p>
                </div>
                <div class="contact__subinfo">
                  <h5 class="contact__subminititle">Адрес</h5>
                  <h3 class="contact__subtitle">
                    г. Москва, улица Крылатская, 2, корп. 4
                  </h3>
                  <p class="contact__subtext">
                    Работаем ежедневно с 9:00 до 21:00
                  </p>
                </div>
                <div class="contact__subinfo">
                  <h5 class="contact__subminititle">Электронная почта</h5>
                  <h3 class="contact__subtitle">info@avtodinamica.ru</h3>
                </div>
                <button class="contact__btn">Обратный звонок</button>
              </div>
              <div class="contact__inner">
                <img
                  src="../scss/pages/contacts/contacts/contact-1.png"
                  alt=""
                  class="contact__img"
                />
                <p class="contact__text">Построить маршрут Яндекс</p>
              </div>
              <div class="contact__inner inner-2">
                <img
                  src="../scss/pages/contacts/contacts/contact-2.png"
                  alt=""
                  class="contact__img"
                />
                <p class="contact__text">Построить маршрут 2ГИС</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="ask">
        <div class="container">
          <div class="ask__wrapper">
            <h2 class="ask__title">Остались вопросы?</h2>
            <p class="ask__text">
              Мы свяжемся с Вами в течении 10 минут и ответим на них.
            </p>
            <div class="ask__info">
              <div class="ask__box">Ваше имя</div>
              <div class="ask__box">+7 999 999-99-99</div>
              <div class="ask__box">Ваш email</div>
              <button class="ask__btn">Подобрать</button>
            </div>
            <label for="user__accept" class="click__label">
              <input
                required
                type="checkbox"
                name="user__accept"
                id="user__accept"
                class="click__input"
              />
              <span class="label-text"
                >Я соглашаюсь с <span class="special-text">условиями</span> и
                даю свое согласие на обработку и использование моих персональных
                данных</span
              >
            </label>
          </div>
        </div>
      </section>
      <section class="news">
        <div class="container">
          <div class="news__wrapper">
            <div class="news__info">
              <h2 class="news__title">Новости</h2>
              <h4 class="news__minititle">Посмотреть все</h4>
            </div>
            <ul class="news__menu">
              <li class="news__item">
                <img
                  src="../scss/pages/main/new-1.png"
                  alt=""
                  class="news__img"
                />
                <div class="news__box">
                  <h5 class="news__data">16 марта 2023</h5>
                  <h3 class="news__subtitle">
                    LADA внедряет собственную программу утилизации
                  </h3>
                  <p class="news__subtext">
                    Условия программы действуют при сдаче автомобиля, выходящего
                    из эксплуатации, в зачет стоимости...
                  </p>
                </div>
              </li>
              <li class="news__item">
                <img
                  src="../scss/pages/main/new-2.png"
                  alt=""
                  class="news__img"
                />
                <div class="news__box">
                  <h5 class="news__data">16 марта 2023</h5>
                  <h3 class="news__subtitle">
                    Дилер BMW отчитался за 2022 год: "Поставки не прекращались”
                  </h3>
                  <p class="news__subtext">
                    На протяжении прошлого года официальный дилер BMW и Mini в
                    Беларуси реализовал 408...
                  </p>
                </div>
              </li>
              <li class="news__item">
                <img
                  src="../scss/pages/main/new-3.png"
                  alt=""
                  class="news__img"
                />
                <div class="news__box">
                  <h5 class="news__data">16 марта 2023</h5>
                  <h3 class="news__subtitle">
                    LADA внедряет собственную программу утилизации
                  </h3>
                  <p class="news__subtext">
                    Условия программы действуют при сдаче автомобиля, выходящего
                    из эксплуатации, в зачет стоимости...
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
