<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__top">
            <a href="" class="header__link link-clock"
              >Работаем ежедневно с 9:00 до 21:00</a
            >
            <a href="" class="header__link link-tel"
              >8 800 777-77-77
              <span class="link-thin">(Звонок по России бесплатный)</span></a
            >
            <a href="" class="header__link link-search">Поиск</a>
            <a href="" class="header__link link-reverse">Обратный звонок</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="container">
          <div class="hero__wrapper">
            <div class="hero__info">
              <h2 class="hero__minititle-1">Обновленный кроссовер</h2>
              <h1 class="hero__title">CHANGAN CS35 PLUS</h1>
              <h2 class="hero__minititle-2">от 2 500 000 руб*</h2>
              <div class="box">
                <button class="hero__btn">
                  Гарантия <span class="red">5 лет</span>
                </button>
                <button class="hero__btn">
                  В кредит <span class="red"> 10.5%</span>
                </button>
                <button class="hero__btn">
                  Рассрочка <span class="red">0%</span>
                </button>
              </div>
              <p class="hero__text">
                *Акционное предложение, точную цену уточняйте у продавца
              </p>
            </div>
          </div>
          <img
            src="../scss/pages/main/hero.svg"
            class="hero__img"
            alt="red car"
          />
          <ul class="hero__menu">
            <li class="hero__item item-active"></li>
            <li class="hero__item"></li>
            <li class="hero__item"></li>
            <li class="hero__item"></li>
          </ul>
        </div>
      </section>
      <section class="try">
        <div class="container">
          <div class="try__wrapper">
            <div class="try__top">
              <h4 class="try__title">Подобрать автомобиль</h4>
              <div class="try__box">
                <button class="try__btn btn-active">Новые</button>
                <button class="try__btn">С пробегом</button>
                <button class="try__btn">Авто для такси</button>
              </div>
            </div>
            <div class="try__bottom">
              <div class="try__info info-active">Марка</div>
              <div class="try__info info-active">Модель</div>
              <div class="try__info info-double">
                Цена от <span class="do"> Цена до</span>
              </div>
              <button class="try__btn-original">Подобрать</button>
            </div>
          </div>
        </div>
      </section>
      <section class="brand">
        <div class="container">
          <div class="brand__wrapper">
            <div class="brand__info">
              <h2 class="brand__title">Продажа автомобилей в Москве</h2>
              <h4 class="brand__minititle">Посмотреть все</h4>
            </div>
            <ul class="brand__menu">
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-1.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Audi</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-2.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">BMW</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-3.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">BYD</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-4.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Changan</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-5.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Chery</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-6.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Chevrolet</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-7.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Citroen</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-8.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Dongfeng</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-9.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">FAW</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-10.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Geely</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-11.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Great Wall</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-12.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Haval</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-13.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Hyundai</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-14.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Jeep</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-15.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">JAC</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-16.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">KIA</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-17.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Lada</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-18.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Lifan</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-19.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Mazda</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-20.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Nissan</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-21.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Peugeot</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-22.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Renault</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-23.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Skoda</p>
              </li>
              <li class="brand__item">
                <img
                  src="../scss/pages/main/logo-24.png"
                  alt=""
                  class="brand__img"
                />
                <p class="brand__text">Volkswagen</p>
              </li>
            </ul>
            <button class="brand__btn">Показать еще</button>
          </div>
        </div>
      </section>
      <section class="click">
        <div class="container">
          <div class="click__wrapper">
            <h2 class="click__title">Заявка в один клик</h2>
            <p class="click__text">
              Оставьте заявку и мы подберем для Вас лучшее предложение.
            </p>
            <div class="click__info">
              <div class="click__box click-active">Марка</div>
              <div class="click__box click-active">Модель</div>
              <div class="click__box">Ваше имя</div>
              <div class="click__box">+7 999 999-99-99</div>
              <button class="click__btn">Оставить заявку</button>
            </div>
            <label for="user__accept" class="click__label">
              <input
                required
                type="checkbox"
                name="user__accept"
                id="user__accept"
                class="click__input"
              />
              <span class="label-text"
                >Я соглашаюсь с <span class="special-text">условиями</span> и
                даю свое согласие на обработку и использование моих персональных
                данных</span
              >
            </label>
          </div>
        </div>
      </section>
      <section class="offer">
        <div class="container">
          <div class="offer__wrapper">
            <div class="offer__info">
              <h2 class="offer__title">Специальные предложения</h2>
              <h4 class="offer__minititle">Посмотреть все</h4>
            </div>
            <ul class="offer__menu">
              <li class="offer__item">
                <img
                  src="../scss/pages/main/offer-1.png"
                  alt=""
                  class="offer__img"
                />
                <div class="offer__subinfo">
                  <h3 class="offer__subtitle">HYUNDAI Elantra</h3>
                  <h4 class="offer__subminititle">Comfort</h4>
                  <ul class="offer__submenu">
                    <li class="offer__subitem">
                      <span class="grey">Год выпуска:</span> 2023
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Тип двигателя:</span> Бензин
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">КПП</span> Автомат
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Объем двиг.(см³):</span> 1893
                    </li>
                  </ul>
                  <h3 class="offer__price">
                    <span class="grey">Цена от:</span> 10 000 000 руб.
                  </h3>
                  <button class="offer__subbtn">Купить</button>
                </div>
              </li>
              <li class="offer__item">
                <img
                  src="../scss/pages/main/offer-1.png"
                  alt=""
                  class="offer__img"
                />
                <div class="offer__subinfo">
                  <h3 class="offer__subtitle">HYUNDAI Elantra</h3>
                  <h4 class="offer__subminititle">Comfort</h4>
                  <ul class="offer__submenu">
                    <li class="offer__subitem">
                      <span class="grey">Год выпуска:</span> 2023
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Тип двигателя:</span> Бензин
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">КПП</span> Автомат
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Объем двиг.(см³):</span> 1893
                    </li>
                  </ul>
                  <h3 class="offer__price">
                    <span class="grey">Цена от:</span> 10 000 000 руб.
                  </h3>
                  <button class="offer__subbtn">Купить</button>
                </div>
              </li>
              <li class="offer__item">
                <img
                  src="../scss/pages/main/offer-2.png"
                  alt=""
                  class="offer__img"
                />
                <div class="offer__subinfo">
                  <h3 class="offer__subtitle">KIA Carnival</h3>
                  <h4 class="offer__subminititle">Comfort</h4>
                  <ul class="offer__submenu">
                    <li class="offer__subitem">
                      <span class="grey">Год выпуска:</span> 2023
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Тип двигателя:</span> Бензин
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">КПП</span> Вариатор
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Объем двиг.(см³):</span> 1893
                    </li>
                  </ul>
                  <h3 class="offer__price">
                    <span class="grey">Цена от:</span> 2 000 000 руб.
                  </h3>
                  <button class="offer__subbtn">Купить</button>
                </div>
              </li>
              <li class="offer__item">
                <img
                  src="../scss/pages/main/offer-3.png"
                  alt=""
                  class="offer__img"
                />
                <div class="offer__subinfo">
                  <h3 class="offer__subtitle">MITSUBISHI Outlander</h3>
                  <h4 class="offer__subminititle">Comfort</h4>
                  <ul class="offer__submenu">
                    <li class="offer__subitem">
                      <span class="grey">Год выпуска:</span> 2023
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Тип двигателя:</span> Бензин
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">КПП</span> Автомат
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Объем двиг.(см³):</span> 1893
                    </li>
                  </ul>
                  <h3 class="offer__price">
                    <span class="grey">Цена от:</span> 1 400 000 руб.
                  </h3>
                  <button class="offer__subbtn">Купить</button>
                </div>
              </li>
              <li class="offer__item">
                <img
                  src="../scss/pages/main/offer-3.png"
                  alt=""
                  class="offer__img"
                />
                <div class="offer__subinfo">
                  <h3 class="offer__subtitle">MITSUBISHI Outlander</h3>
                  <h4 class="offer__subminititle">Comfort</h4>
                  <ul class="offer__submenu">
                    <li class="offer__subitem">
                      <span class="grey">Год выпуска:</span> 2023
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Тип двигателя:</span> Бензин
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">КПП</span> Автомат
                    </li>
                    <li class="offer__subitem">
                      <span class="grey">Объем двиг.(см³):</span> 1893
                    </li>
                  </ul>
                  <h3 class="offer__price">
                    <span class="grey">Цена от:</span> 1 400 000 руб.
                  </h3>
                  <button class="offer__subbtn">Купить</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="advan">
        <div class="container">
          <div class="advan__wrapper">
            <h2 class="advan__title">Преимущества обращения к нам</h2>
            <ul class="advan__menu">
              <li class="advan__item">
                <img
                  src="../scss/pages/main/advan-1.png"
                  alt=""
                  class="advan__img"
                />
                <p class="advan__text">
                  Больший выбор автомобилей в наличии и под заказ
                </p>
              </li>
              <li class="advan__item">
                <img
                  src="../scss/pages/main/advan-2.png"
                  alt=""
                  class="advan__img"
                />
                <p class="advan__text">
                  Более 50 банков партнеров с выгодными условиями
                </p>
              </li>
              <li class="advan__item">
                <img
                  src="../scss/pages/main/advan-1.png"
                  alt=""
                  class="advan__img"
                />
                <p class="advan__text">
                  Больший выбор автомобилей в наличии и под заказ
                </p>
              </li>
              <li class="advan__item">
                <img
                  src="../scss/pages/main/advan-1.png"
                  alt=""
                  class="advan__img"
                />
                <p class="advan__text">
                  Больший выбор автомобилей в наличии и под заказ
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <sectino class="add">
        <div class="container">
          <div class="add__wrapper">
            <img
              src="../scss/pages/main/add-1.png"
              alt=""
              class="add__img add-1"
            />
            <img
              src="../scss/pages/main/add-2.png"
              alt=""
              class="add__img add-2"
            />
            <img
              src="../scss/pages/main/add-3.png"
              alt=""
              class="add__img add-3"
            />
          </div>
        </div>
      </sectino>
      <section class="credit">
        <div class="container">
          <div class="credit__wrapper">
            <div class="credit__info">
              <h2 class="credit__title">Условия получения кредита</h2>
              <h4 class="credit__minititle">Подробнее об автокредите</h4>
            </div>
            <ul class="credit__menu">
              <li class="credit__item">
                <img src="../scss/pages/main/credit-1.png" alt="" class="credit__img">
                <h3 class="credit__subtitle">Условия получения кредита</h3>
                <div class="credit__box">
                  <p class="credit__text">Сумма до 7 000 000 руб.</p>
                  <p class="credit__text">Срок кредита от 6 месяцев до 7 лет</p>
                  <p class="credit__text">Возможность сдать свой автомобиль в Trade-In</p>
                  <p class="credit__text">Досрочное погашение без штрафов и комиссий</p>
                  <p class="credit__text">Без обязательного КАСКО и страхований</p>
                </div>
              </li>
              <li class="credit__item">
                <img src="../scss/pages/main/credit-2.png" alt="" class="credit__img">
                <h3 class="credit__subtitle">Требования к получателю</h3>
                <div class="credit__box">
                  <p class="credit__text">Гражданство РФ</p>
                  <p class="credit__text">Возраст от 21 года до 65 лет</p>
                  <p class="credit__text">Паспорт и водительское удостоверение гражданина РФ</p>
                  <p class="credit__text">Трудовой стаж на последнем месте работы не менее 6 месяцев</p>
                  <p class="credit__text">Наличие постоянной регистрации на территории РФ</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="ask">
        <div class="container">
          <div class="ask__wrapper">
            <h2 class="ask__title">Остались вопросы?</h2>
            <p class="ask__text">
              Мы свяжемся с Вами в течении 10 минут и ответим на них.
            </p>
            <div class="ask__info">
              <div class="ask__box">Ваше имя</div>
              <div class="ask__box">+7 999 999-99-99</div>
              <div class="ask__box">Ваш email</div>
              <button class="ask__btn">Подобрать </button>
            </div>
            <label for="user__accept" class="click__label">
              <input
                required
                type="checkbox"
                name="user__accept"
                id="user__accept"
                class="click__input"
              />
              <span class="label-text"
                >Я соглашаюсь с <span class="special-text">условиями</span> и
                даю свое согласие на обработку и использование моих персональных
                данных</span
              >
            </label>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
