<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__top">
            <a href="" class="header__link link-clock"
              >Работаем ежедневно с 9:00 до 21:00</a
            >
            <a href="" class="header__link link-tel"
              >8 800 777-77-77
              <span class="link-thin">(Звонок по России бесплатный)</span></a
            >
            <a href="" class="header__link link-search">Поиск</a>
            <a href="" class="header__link link-reverse">Обратный звонок</a>
          </div>
          <div class="header__bottom">
            <img
              src="/scss/pages/autocredit/assets-auto/main logogo.png"
              alt=""
              class="header__logo"
            />
            <ul class="header__bottom-menu">
              <li class="header__bottom-list">
                <a href="./news.html" class="header__bottom-first-link"
                  >Новые автомобили</a
                >
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-second-link">С пробегом</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-third-link">Такси в кредит</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-auto-link">Автокредит</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-fourth-link">Услуги</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-fifth-link">О компании</a>
              </li>
              <li class="header__bottom-list">
                <a href="./contact.html" class="header__bottom-link-contact"
                  >Контакты</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="orgnews">
        <div class="container">
          <div class="orgnews__wrapper">
            <h4 class="contact__minititle">
              <span class="grey">Главная > </span> Новости
            </h4>
            <div class="orgnews__info">
              <h2 class="orgnews__title">Новости</h2>
              <div class="orgnews__inner">
                <div class="orgnews__border">
                  Показать:
                  <p class="orgnews__text">
                    <span class="text-active">12</span> 24 48
                  </p>
                </div>
                <div class="orgnews__border border-active">
                  Актуальные новости
                </div>
              </div>
            </div>
            <ul class="orgnews__menu">
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
              <li class="orgnews__item">
                <img
                  src="../scss/pages/orgnew/orgnews/orgnews-car.png"
                  alt="green car"
                  class="orgnews__img"
                />
                <div class="orgnews__box">
                  <h5 class="orgnews__data">06 апреля 2023</h5>
                  <h3 class="orgnews__subtitle">
                    LADA Niva Travel KHL: новая спецверсия для любителей...
                  </h3>
                  <p class="orgnews__subtext">
                    LADA расширяет гамму комплектаций популярного внедорожника
                    NIVA Travel новой
                  </p>
                </div>
              </li>
            </ul>
            <button class="orgnews__btn">Показать еще</button>
            <ul class="orgnews__pages">
              <li class="orgnews__page"><</li>
              <li class="orgnews__page page-active">1</li>
              <li class="orgnews__page">2</li>
              <li class="orgnews__page">3</li>
              <li class="orgnews__page">4</li>
              <li class="orgnews__page">5</li>
              <li class="orgnews__page">...</li>
              <li class="orgnews__page">12</li>
              <li class="orgnews__page">></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="ask">
        <div class="container">
          <div class="ask__wrapper">
            <h2 class="ask__title">Остались вопросы?</h2>
            <p class="ask__text">
              Мы свяжемся с Вами в течении 10 минут и ответим на них.
            </p>
            <div class="ask__info">
              <div class="ask__box">Ваше имя</div>
              <div class="ask__box">+7 999 999-99-99</div>
              <div class="ask__box">Ваш email</div>
              <button class="ask__btn">Подобрать</button>
            </div>
            <label for="user__accept" class="click__label">
              <input
                required
                type="checkbox"
                name="user__accept"
                id="user__accept"
                class="click__input"
              />
              <span class="label-text"
                >Я соглашаюсь с <span class="special-text">условиями</span> и
                даю свое согласие на обработку и использование моих персональных
                данных</span
              >
            </label>
          </div>
        </div>
      </section>
      <br><br><br><br><br>
      <section class="map">
        <div class="container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2174.769607869175!2d37.43235591331973!3d55.756546994702724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5492ac717086d%3A0xf30772eb7c331e71!2zS3J5bGF0c2theWEgVWxpdHNhLCAyINGB0YLRgNC-0LXQvdC40LUgNCwgTW9za3ZhLCBSdXNzaWEsIDEyMTU1Mg!5e0!3m2!1sen!2s!4v1735844066460!5m2!1sen!2s"
            width="1728"
            height="560"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <div class="map__wrapper">
            <a class="x-cross" href="#">X</a>
            <p class="map-title">АвтоДинамика</p>
            <p class="map-subtitle">
              Автосалонпродажа автомобилей <br />
              с пробегом
            </p>
            <div class="map-stars">
              <img
                width="24"
                src="/scss/pages/category/assests/star.png"
                alt="star"
                class="stars-img"
              />
              <img
                width="24"
                src="/scss/pages/category/assests/star.png"
                alt="star"
                class="stars-img"
              />
              <img
                width="24"
                src="/scss/pages/category/assests/star.png"
                alt="star"
                class="stars-img"
              />
              <img
                width="24"
                src="/scss/pages/category/assests/star.png"
                alt="star"
                class="stars-img"
              />
              <img
                width="24"
                src="/scss/pages/category/assests/star.png"
                alt="star"
                class="stars-img"
              />
              <p class="stars-rate">5,0</p>
              <p class="map-open">Открыто до 19:00</p>
              <img
                height="25"
                src="/scss/pages/category/assests/down-arrow.svg"
                alt=""
                class="map-down"
              />
            </div>
            <ul class="map-location">
              <li class="map-info">
                <img
                  width="24"
                  src="/scss/pages/category/assests/location.png"
                  alt="location"
                  class="location-img"
                />
                <p class="map-place-info">улица Крылатская, 2, корп. 4</p>
              </li>
              <li class="map-info">
                <img
                  width="24"
                  src="/scss/pages/category/assests/phone-call.png"
                  alt="location"
                  class="location-img"
                />
                <p class="map-place-info">
                  8 (495) 374-94-88
                  <span class="grey-one"
                    >4
                    <img
                      width="24"
                      src="/scss/pages/category/assests/down-arrow.svg"
                      alt=""
                    />
                  </span>
                </p>
              </li>
              <li class="map-info">
                <img
                  width="24"
                  src="/scss/pages/category/assests/location.png"
                  alt="location"
                  class="location-img"
                />
                <a
                  href="https//:auto-dinamika.com"
                  class="map-place-info blue-one"
                  >auto-dinamika.com</a
                >
              </li>
            </ul>
            <ul class="map-distance">
              <li class="map-distance-way">
                <img
                  width="20"
                  src="/scss/pages/category/assests/metro.png"
                  alt=""
                  class="way-img"
                />
                <p class="distance-name">Молодёжная</p>
                <img
                  width="20"
                  src="/scss/pages/category/assests/man.png"
                  alt=""
                  class="distance-img"
                />
                <p class="distance-number">2,7 км</p>
              </li>
              <li class="map-distance-way">
                <img
                  width="20"
                  src="/scss/pages/category/assests/metro.png"
                  alt=""
                  class="way-img"
                />
                <p class="distance-name">Терехово</p>
                <img
                  width="20"
                  src="/scss/pages/category/assests/man.png"
                  alt=""
                  class="distance-img"
                />
                <p class="distance-number">2,92 км</p>
              </li>
              <li class="map-distance-way">
                <img
                  width="20"
                  src="/scss/pages/category/assests/metro.png"
                  alt=""
                  class="way-img"
                />
                <p class="distance-name">Крылатское</p>
                <img
                  width="20"
                  src="/scss/pages/category/assests/man.png"
                  alt=""
                  class="distance-img"
                />
                <p class="distance-number">3,1 км</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-second-wrapper">
            <img
              src="/scss/pages/category/assests/logo.svg"
              alt=""
              class="footer-logo"
            />
            <ul class="footer-time">
              <li class="footer-time-info">
                <p class="footer-time__time">Ежедневно с 09:00 до 21:00</p>
                <a class="footer-phone-call" href="tel:++7 495 374-94-88"
                  >+7 495 374-94-88</a
                >
                <p class="footer-extra-call">Обратный звонок</p>
              </li>
              <li class="footer-time-info padding-one">
                <a class="footer-email" href="mailto:support@auto-dinamika.com"
                  >support@auto-dinamika.com</a
                >
              </li>
              <li class="footer-time-info">
                <a
                  class="footer-location"
                  href="https://www.google.com/maps/place/Krylatskaya+Ulitsa,+2+%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D0%B5+4,+Moskva,+Russia,+121552/@55.7564909,37.4319938,17z/data=!3m1!4b1!4m6!3m5!1s0x46b5492ac717086d:0xf30772eb7c331e71!8m2!3d55.7564909!4d37.4345687!16s%2Fg%2F11f9j7nsgl?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                  target="_blank"
                  >г. Москва, ул. Крылатская, <br />
                  д. 2, корп. 4</a
                >
              </li>
              <li class="footer-time-info">
                <p class="footer-licence">
                  Обращаем ваше внимание на то, что данный Интернет-сайт носит
                  исключительно информационный характер и ни при каких условиях
                  не является публичной <br />
                  офертой, определяемой положениями статьей 435, 437, 494
                  Гражданского кодекса Российской Федерации. Для получения
                  подробной информации о стоимости <br />
                  автомобилей обращайтесь в отдел продаж.*Представленные на
                  сайте калькуляции кредита на автомобиль являются
                  приблизительными, точная стоимость<br />
                  финансирования рассчитывается кредитным специалистом в
                  зависимости от индивидуальных параметров заёмщика при
                  предоставлении двух документов в<br />
                  организацию.
                </p>
              </li>

              <li class="footer-time-info">
                <p class="footer-guarantee">
                  ООО «АВТО-ГАРАНТ», ИНН / КПП 7734459351 / 73401001, Юр. адрес:
                  123098, г. Москва, ул. Рогова, д. 12, помещение 2П
                  <br />
                  Политика конфиденциальности | Пользовательское соглашение |
                  Условия кредитования
                </p>
              </li>
            </ul>
            <ul class="footer-second__menu">
              <li class="second-menu__list">
                <a href="#" class="menu-list-title">Автомобили</a>
                <a href="#" class="menu-list-text">Новые автомобили</a>
                <a href="#" class="menu-list-text">Автомобили с пробегом</a>
                <a href="#" class="menu-list-text">Автомобили для такси</a>
              </li>
              <li class="second-menu__list">
                <a href="#" class="menu-list-title">Варианты кузова</a>
                <a href="#" class="menu-list-text">Седан</a>
                <a href="#" class="menu-list-text">Кроссовер</a>
                <a href="#" class="menu-list-text">Универсал</a>
                <a href="#" class="menu-list-text">Внедорожник</a>
                <a href="#" class="menu-list-text">Хэтчбек</a>
              </li>
              <li class="second-menu__list">
                <a href="#" class="menu-list-title">Услуги</a>
                <a href="#" class="menu-list-text">Кредит</a>
                <a href="#" class="menu-list-text">Trade-In</a>
                <a href="#" class="menu-list-text">Выкуп автомобилей</a>
                <a href="#" class="menu-list-text">Услуги для такси</a>
              </li>
              <li class="second-menu__list">
                <a href="#" class="menu-list-title">О компании</a>
                <a href="#" class="menu-list-text">Отзывы</a>
                <a href="#" class="menu-list-text">Новости</a>
                <a href="#" class="menu-list-text">Партнеры</a>
                <a href="#" class="menu-list-text">Контакты</a>
                <a href="#" class="menu-list-text">Карта сайта</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
