<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__top">
            <a href="" class="header__link link-clock"
              >Работаем ежедневно с 9:00 до 21:00</a
            >
            <a href="" class="header__link link-tel"
              >8 800 777-77-77
              <span class="link-thin">(Звонок по России бесплатный)</span></a
            >
            <a href="" class="header__link link-search">Поиск</a>
            <a href="" class="header__link link-reverse">Обратный звонок</a>
          </div>
          <div class="header__bottom">
            <img
              src="/scss/pages/autocredit/assets-auto/main logogo.png"
              alt=""
              class="header__logo"
            />
            <ul class="header__bottom-menu">
              <li class="header__bottom-list">
                <a href="./catogory.html" class="header__bottom-first-link"
                  >Новые автомобили</a
                >
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-second-link">С пробегом</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-third-link">Такси в кредит</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-auto-link">Автокредит</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-fourth-link">Услуги</a>
              </li>
              <li class="header__bottom-list">
                <a href="" class="header__bottom-fifth-link">О компании</a>
              </li>
              <li class="header__bottom-list">
                <a href="./contact.html" class="header__bottom-link-contact"
                  >Контакты</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="orgnews">
        <div class="container">
          <div class="orgnews__wrapper">
            <h4 class="contact__minititle">
              <span class="grey">Главная > </span> Новости
            </h4>
            <div class="orgnews__info">
              <h2 class="orgnews__title">Новости</h2>
              <div class="orgnews__inner">
                <div class="orgnews__border">
                  <p class="orgnews__text">
                    <span class="text-active">12</span> 24 48
                  </p>
                </div>
                <div class="orgnews__border"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
