.category__menu {
	display: flex;
	gap: 5px;
	margin-left: 309px;
}

.category__list {
	font-size: 14px;
	line-height: 16.41px;
	color: $dark-grey;
}

.dark-one {
	font-weight: 500;
	color: $black;
}

.category__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 37.5px;
	color: $header-grey;
	margin: 30px 0 40px 309px;
}

.category__nav2 {
	display: flex;
	gap: 395px;
}

.category__selection {
	margin-left: 309px;
	display: flex;
	gap: 30px;
}

.selection__btn {
	width: 160px;
	height: 40px;
	border: 1px solid $light-grey;
	font-weight: 500;
	font-size: 16px;
	line-height: 18.75px;
	color: $light-grey;
	background-color: white;
	cursor: pointer;
	text-align: left;
	padding-left: 10px;
	border-radius: 4px;
	position: relative;
}

.down-arrow {
	position: absolute;
	text-align: center;
	width: 24px;
	height: 24px;
	top: 10px;
	right: 10px;
}

.selection__btn-red {
	background-color: $color-red;
	color: white;
	text-align: center;
	border-color: transparent;
}

.search-first {
	margin-left: 1069px;
}

.search__down-arrow {
	text-align: center;
}

.category__search {
	display: flex;
	margin-top: 20px;
	margin-bottom: 30px;
}

.search-text {
	margin-left: 5px;
	font-size: 14px;
	line-height: 16.41px;
	color: $dark-grey;
}

.first-text {
	margin-right: 42px;
}

.search-type__wrapper {
	display: flex;
	margin-left: 309px;
}

.search-type__sort {
	width: 255px;
	height: 30px;
	border: 1px solid $light-grey;
	background-color: white;
	border-radius: 6px;
	font-size: 14px;
	line-height: 16.41px;
	color: $black;
	transition: 0.2s linear;
	cursor: pointer;
	text-align: left;
	padding-left: 15px;
}

.sort1 {
	margin-right: 315px;
	position: relative;

	&::before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		background-image: url(/scss/pages/category/assests/down-arrow2.svg);
		left: 210px;
		background-repeat: no-repeat;
	}
}

.sort2 {
	margin-right: 30px;
	position: relative;

	&::before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		background-image: url(/scss/pages/category/assests/second-btn-things.svg);
		left: 200px;
		background-repeat: no-repeat;
	}

	&::after {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		background-image: url(/scss/pages/category/assests/second-btn-things2.svg);
		left: 224px;
		background-repeat: no-repeat;
	}
}

.search-type__sort:hover {
	transform: scale(1.1);
}

.sort3-number {
	margin-left: 91px;
	color: $light-grey;
}

.thirty-six {
	margin-left: 10px;
}

.sort3-number__black {
	color: $black;
	margin-right: 10px;
}

.category__hero-item__box {
	width: 255px;
	height: 434px;
	border-radius: 4px;
	border: 1px solid $light-grey;
	background-color: white;
}

.category__hero-item__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 23.44px;
	color: $black;
	margin-left: 10px;
	margin-bottom: 5px;
}

.category__hero-item__comfort {
	font-size: 18px;
	line-height: 21.09px;
	color: $black;
	margin-left: 10px;
	margin-bottom: 10px;
}

.category__hero-item__credit {
	font-size: 12px;
	line-height: 14.06px;
	color: $dark-grey;
	margin-left: 10px;
	margin-bottom: 10px;
}

.category__hero-item__inner-box {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	width: 235px;
	margin-left: 10px;
	margin-bottom: 15px;
}

.inner-box__info {
	width: 55px;
	height: 18px;
	border: 1px solid $light-grey;
	border-radius: 4px;
	font-size: 10px;
	line-height: 11.72px;
	color: $dark-grey;
	text-align: center;
	place-content: center;
}

.inner-box__info2 {
	width: 235px;
}

.category__hero-item__price-info {
	font-size: 13px;
	line-height: 15.23px;
	color: $dark-grey;
	margin-left: 10px;
}

.category__hero-item__price-at__numbers {
	font-weight: 500;
	font-size: 13px;
	line-height: 15.23px;
	color: $black;
	margin-left: 10px;
}

.item-price__info2 {
	margin-bottom: 10px;
}

.item-price__info3 {
	margin-bottom: 25px;
}

.category__hero-item__car-link {
	margin-left: 10px;
}

.category__hero-item__info-btn {
	width: 235px;
	height: 40px;
	background-color: $color-red;
	border-radius: 4px;
	border-color: transparent;
	color: white;
	line-height: 18.75px;
	transition: 0.2s linear;
}

.category__hero-item__info-btn:hover {
	transform: scale(1.1);
}

.category__hero-wrapper {
	margin-left: 309px;
	margin-top: 20px;
	width: 1110px;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.more-cars {
	margin: 50px 0 40px 704px;
	width: 320px;
	height: 60px;
	border-radius: 4px;
	border-color: transparent;
	background-color: $black;
	color: white;
	font-weight: 500;
	line-height: 18.75px;
	font-size: 1rem;
}

.more-numbers {
	width: 434px;
	height: 18px;
	margin-left: 667px;
	display: flex;
	justify-content: space-between;
}

.more-number__item {
	font-weight: 500;
	font-size: 14px;
	line-height: 16.41px;
	color: $dark-grey;
	cursor: pointer;
	transition: 0.1s linear;
}

.more-number__item:hover {
	transform: scale(1.2);
}

.left-arrow:hover {
	transform: scale(1.2);
}

.right-arrow:hover {
	transform: scale(1.2);
}

.right-arrow {
	transition: 0.1s linear;
	cursor: pointer;
}

.left-arrow {
	transition: 0.1s linear;
	cursor: pointer;
}

.section2-title__box {
	display: flex;
	margin-left: 309px;
	gap: 557px;
	margin-top: 100px;
}

.section2__title {
	font-weight: 700;
	font-size: 2rem;
}

.question-wrapper {
	width: 1110px;
	height: 293px;
	background-image: url(/scss/pages/category/assests/question-bc.svg);
	background-color: black;
	margin-left: 309px;
	margin-bottom: 100px;
	padding-left: 40px;
	position: relative;
}

.question-title {
	font-weight: 700;
	font-size: 2rem;
	line-height: 37.5px;
	color: white;
	padding-top: 40px;
	padding-bottom: 15px;
}

.question-subtitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 21.09px;
	color: white;
	margin-bottom: 40px;
}

.question-form > input {
	width: 245px;
	height: 60px;
	padding: 20.5px 0 20.5px 25px;
	border-radius: 4px;
	border-color: transparent;

	&:nth-last-child(2) {
		width: 15px;
		height: 15px;
		border: 1px solid transparent;
		background-color: white;
		cursor: pointer;
		position: absolute;
		top: 229px;
		left: 570px;
	}
}

.question__user-info-wrapper {
	display: flex;
	width: 1040px;
	gap: 20px;
}

.question-accept__info {
	font-size: 10px;
	line-height: 11.72px;
	color: white;
	position: absolute;
	top: 229px;
	left: 594px;
}

.question-accept {
	background-color: $color-red;
	width: 245px;
	height: 60px;
	border-radius: 4px;
	color: white;
	font-weight: 500;
	line-height: 18.75px;
	transition: 0.2s linear;
	border-color: transparent;

	&:hover {
		transform: scale(1.1);
	}
}

.news-wrapper {
	width: 1110px;
	margin-left: 309px;
	margin-bottom: 100px;
}

.news-title {
	font-weight: 700;
	font-size: 2rem;
	line-height: 37.5px;
	color: $black;
}

.news-see__all {
	line-height: 18.75px;
	color: $dark-grey;
}

.news-small-box {
	display: flex;
	gap: 800px;
	margin-bottom: 40px;
}

.news-inner__wrapper {
	display: flex;
	gap: 30px;
}

.news-box {
	width: 350px;
	height: 380px;
	border: 1px solid $light-grey;
	border-radius: 4px;
}

.new-date {
	font-size: 0.75rem;
	line-height: 14.06px;
	color: $dark-grey;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.new-title {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 23.44px;
	color: $black;
	padding-left: 15px;
	padding-bottom: 15px;
}

.new-subtitle {
	font-size: 1rem;
	line-height: 18.75px;
	color: $dark-grey;
	padding-left: 15px;
}

.map {
	position: relative;
}

.x-cross {
	color: $light-grey;
	position: absolute;
	right: 5px;
	top: 10px;
	font-size: 1.5rem;
}

.map__wrapper {
	width: 400px;
	height: 320px;
	background-color: white;
	position: absolute;
	top: 94px;
	left: 773px;
	padding-left: 25px;
	padding-top: 35px;
}

.map-subtitle {
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 13px;
	font-weight: 500;
	line-height: 14.95px;
	color: $dark-grey;
}

.map-title {
	font-size: 18px;
	line-height: 21.09px;
	color: $black;
	font-weight: 500;
}

.map-stars {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.location-img {
	color: $light-grey;
}

.map-info {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}

.grey-one {
	position: absolute;
	color: $light-grey;
	left: 170px;
}

.grey-one > img {
	color: $light-grey;
	position: absolute;
	top: -2px;
}

.map-open {
	margin-left: 70px;
}

.choosen-one {
	font-size: 13px;
	line-height: 14.95px;
	font-weight: 500;
	color: $black;
}

.map-place-info {
	font-size: 14px;
	line-height: 16.41px;
	color: $black;
}

.blue-one {
	color: #356bf6;
	font-size: 13px;
	line-height: 14.95px;
	font-weight: 500;
}
.map-location {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 13px;
}

.map-distance {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.map-distance-way {
	display: flex;
}

.way-img {
	margin-right: 10px;
}

.distance-name {
	margin-right: 5px;
}

.distance-number {
	color: blue;
}

.footer-wrapper {
	width: 1728px;
	height: 537px;
	background-color: $black;
}

.footer-second-wrapper {
	padding-top: 40px;
	padding-left: 309px;
}

.footer-logo {
	padding-bottom: 50px;
}

.footer-time-info > p {
	color: white;
}

.footer-time__time {
	font-size: 12px;
	line-height: 14.06px;
	padding-bottom: 5px;
}

.footer-phone-call {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 28.13px;
	color: white;
	padding-bottom: 10px;
}

.footer-extra-call {
	font-weight: 500;
	font-size: 12px;
	line-height: 14.06px;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: false;
	padding-bottom: 20px;
}

.footer-email {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 28.13px;
	color: white;
}

.footer-location {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 28.13px;
	color: white;
}

.padding-one{
	padding-bottom: 20px;
}

.footer-time-info > .footer-licence{
	padding-top: 30px;
	font-size: 14px;
	line-height: 16.41px;
	color: $light-grey;
	padding-bottom: 10px;
}

.footer-time-info > .footer-guarantee{
    font-size: 14px;
	line-height: 16.41px;
	color: $light-grey;
}

.footer-second__menu{
	display: flex;
	gap: 48px;
	position: absolute;
	top: 130px;
	left: 689px;
}

.second-menu__list{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.second-menu__list > a{
	color: white;
	font-size: 14px;
}

.menu-list-title{
	color: white;
	font-weight: 700;
	font-size: 16px;
	line-height: 18.75px;
}

footer{
	position: relative;
}