.hero__wrapper {
  padding: 80px 309px;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__minititle-1 {
  font-weight: 600;
  font-size: 28px;
}

.hero__title {
  font-weight: 600;
  font-size: 42px;
}

.hero__minititle-2 {
  font-weight: 700;
  font-size: 28px;
  color: $color-red;
}

.hero__box {
  display: flex;
  gap: 2px;
  margin-top: 15px;
}

.hero__btn {
  padding: 10px;
  background-color: $black;
  color: $white;
  border-style: none;
  font-size: 12px;
}

.red {
  color: $color-red;
  font-weight: 500;
}

.hero__text {
  font-size: 12px;
  color: $header-grey;
}

.hero__img {
  width: 875px;
  height: 368px;
  margin-top: -368px;
  margin-left: 651px;
}

.hero__menu {
  display: flex;
  gap: 20px;
  margin: 25px 784px;
}

.hero__item {
  background-color: $light-grey;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.item-active {
  background-color: $header-grey;
}

.try__wrapper {
  background-image: url("/scss/pages/main/blacj.jpg");
  background-size: cover;
  padding: 40px 309px;
  width: 1728px;
  height: 240px;
  color: $white;
}

.try__top {
  display: flex;
  gap: 214px;
  margin-bottom: 50px;
}

.try__title {
  font-weight: 600;
  font-size: 32px;
}

.try__box {
  display: flex;
  gap: 30px;
}

.try__btn {
  border: 1px solid $white;
  border-radius: 4px;
  background-color: transparent;
  color: $white;
  padding: 10px 36px;
  font-size: 1rem;
  font-weight: 500;
}

.btn-active {
  background-color: $white;
  color: $color-red;
}

.try__bottom {
  display: flex;
  gap: 30px;
}

.try__info {
  padding: 20px 25px;
  width: 255px;
  background-color: $white;
  color: $light-grey;
  border-radius: 4px;
  position: relative;
}

.info-active::after {
  content: "";
  width: 6px;
  height: 4px;
  background-image: url("/scss/pages/main/active.png");
  background-size: cover;
  position: absolute;
  top: calc(50% - 2px);
  right: 25px;
}

.info-double {
  display: flex;
  gap: 61px;
}

.info-double::before {
  content: "";
  width: 1px;
  height: 60px;
  position: absolute;
  background-color: $light-grey;
  left: 127px;
  top: calc(50% - 30px);
}

.try__btn-original {
  padding: 20px 86px;
  border-radius: 4px;
  background-color: $color-red;
  color: $white;
  font-size: 1rem;
  font-weight: 500;
  border-style: none;
}

.brand__wrapper {
  padding: 100px 309px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.brand__info {
  display: flex;
  gap: 490px;
  align-items: center;
}

.brand__title {
  font-weight: 600;
  font-size: 32px;
  color: $header-grey;
}

.brand__minititle {
  color: $dark-grey;
  font-size: 1rem;
  font-weight: 400;
}

.brand__menu {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.brand__item {
  border: 1px solid $light-grey;
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.brand__text {
  font-weight: 500;
  font-size: 13px;
  color: $header-grey;
}

.brand__btn {
  padding: 20px 106px;
  background-color: $color-red;
  color: $white;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  border-style: none;
}

.click__wrapper {
  margin: 0 309px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-image: url("/scss/pages/main/blacj.jpg");
  color: $white;
}

.click__title {
  font-size: 32px;
  font-weight: 600;
}

.click__text {
  font-size: 18px;
  font-weight: 600;
}

.click__info {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.click__box {
  padding: 20px 15px;
  width: 190px;
  background-color: $white;
  border-radius: 4px;
  color: $light-grey;
  position: relative;
}

.click-active::after {
  content: "";
  width: 6px;
  height: 4px;
  background-image: url("/scss/pages/main/active.png");
  background-size: cover;
  position: absolute;
  top: calc(50% - 2px);
  right: 25px;
}

.click__btn {
  padding: 20px 31px;
  background-color: $color-red;
  border-style: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: $white;
}

.click__label {
  margin-left: 630px;
  display: flex;
  gap: 10px;
}

.label-text {
  font-size: 10px;
  font-weight: 400;
  width: 376px;
}

.special-text {
  text-decoration: underline;
}
