.hero__top {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 30px 309px;
}
.bi-chevron-right {
  font-size: 10px;
}
.hero__title {
  padding: 0 199px;
}

.hero__text {
  padding: 30px 199px;
}
.program__title {
  padding: 90px 199px 40px;
  font-size: 32px;
}
.program__text {
  padding: 0 199px 20px;
}
.program__kia {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 13px;
  border: 2px solid grey;
}
.progrem__kia-text {
  margin-top: 15px;
}
.program__boxes {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 199px 100px;
}
.program__credit-tablet {
  display: flex;
  align-items: center;
  gap: 903px;
  margin: 20px 0;
}
.program__line {
  width: 1110px;
  background-color: silver;
  height: 1px;
}
.program__credit {
  font-size: 32px;
  padding: 21px 199px;
}
.progran__main-box {
  padding: 21px 199px;
}
.dinamic__main-text {
  width: 215px;
}
.dinamic__main-title {
  margin: 16px 0 10px;
}
.dinamic {
  background-color: #fafafa;
}
.dinamic__main-boxes {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 50px 209px;
}
.dinamic__main-box {
  background-color: #fff;
  padding: 16px 21px;
  box-shadow: 0 0 20px silver;
}
.dinamic__title {
  padding: 21px 209px;
}
.get_credit-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 4px;
}
.get_credit-text {
  width: 253px;
}
.get_credit-box-one {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 25px;
}
.get_credit-main-boxes {
  display: flex;
  align-items: center;
  padding: 60px 209px;
  gap: 30px;
}
.get_credit-box-two {
  padding: 25px;
}
.get_credit-title  {
  padding: 50px 209px 0;
}
.get_credit-btn{
  border-radius: 4px;
  background-color: #DC4433;
  border: none;
  padding: 20px 95px;
  margin-top: 50px;
  margin-left: 630px;
  margin-bottom: 50px;
  width: 300px;
  color: white;
}
.bank__logos {
  display: flex;
  align-items: center;
  overflow: scroll;

}
