.header__top {
  display: flex;
  gap: 80px;
  padding: 17px 425px;
  background-color: $black;
}

.header__link {
  font-size: 14px;
  font-weight: 400;
  color: $white;
  position: relative;
}

.link-clock {
  min-width: 241px;
}

.link-clock::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("/scss/pages/main/clock.png");
  background-size: cover;
  position: absolute;
  left: -19px;
}

.link-tel {
  min-width: 320px;
}

.link-tel::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("/scss/pages/main/tel.png");
  background-size: cover;
  position: absolute;
  left: -19px;
}

.link-search::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("/scss/pages/main/search.png");
  background-size: cover;
  left: -19px;
}

.link-reverse {
  min-width: 118px;
}

@media only screen and (max-width: 1258px) {
  .header__top {
    padding: 17px 165px;
  }
}