.orgnews__wrapper {
  padding: 30px 309px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: $header-grey;
}

.orgnews__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orgnews__title {
  font-weight: 600;
  font-size: 32px;
}

.orgnews__inner {
  display: flex;
  gap: 30px;
}

.orgnews__border {
  padding: 7px 15px;
  border: 1px solid $light-grey;
  display: flex;
  gap: 91px;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  border-radius: 6px;
}

.orgnews__text {
  font-size: 14px;
  font-weight: 400;
  color: $light-grey;
  word-spacing: 10px;
}

.text-active {
  color: $header-grey;
  font-weight: 600;
}

.border-active {
  width: 255px;
  position: relative;
  color: $dark-grey;
}

.border-active::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("/scss/pages/orgnew/orgnews/black-active.png");
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
}

.orgnews__menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.orgnews__item {
  border: 1px solid $light-grey;
  width: 255px;
  border-radius: 4px;
}

.orgnews__box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orgnews__data {
  font-size: 12px;
  font-weight: 400;
  color: $light-grey;
  margin-bottom: 10px;
}

.orgnews__subtitle {
  font-size: 16px;
  font-weight: 500;
}

.orgnews__subtext {
  font-size: 14px;
  font-weight: 400;
  color: $dark-grey;
}

.orgnews__btn {
  padding: 20px 106px;
  border-radius: 4px;
  background-color: $header-grey;
  color: $white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  margin: 0 395px;
}

.orgnews__pages {
  display: flex;
  gap: 40px;
  margin: 0 338px;
}

.orgnews__page {
  font-size: 14px;
  font-weight: 500;
  color: $dark-grey;
  padding: 1px;
}

.page-active {
  border: 1px solid $header-grey;
  border-radius: 2px;
  padding: 1px 5px;
}

@media only screen and (max-width: 1258px) {
  .orgnews__wrapper {
    padding: 30px 159px;
  }

  .orgnews__menu {
    gap: 20px;
  }

  .orgnews__item {
    width: 220px;
  }

  .orgnews__img {
    width: 220px;
  }

  .orgnews__btn {
    padding: 20px 96px;
    margin: 0 320px;
  }

  .orgnews__pages {
    margin: 0 253px;
  }
}

@media only screen and (max-width: 834px) {
  .orgnews__wrapper {
    padding: 30px 187px;
  }

  .orgnews__info {
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: start;
  }

  .orgnews__title {
    font-weight: 600;
    font-size: 24px;
  }

  .orgnews__inner {
    display: flex;
    gap: 20px;
  }

  .orgnews__border {
    padding: 7px 15px;
    border: 1px solid $light-grey;
    display: flex;
    gap: 48px;
    font-size: 14px;
    font-weight: 400;
    color: $black;
    border-radius: 6px;
    width: 220px;
  }

  .orgnews__text {
    font-size: 14px;
    font-weight: 400;
    color: $light-grey;
    word-spacing: 10px;
  }

  .text-active {
    color: $header-grey;
    font-weight: 600;
  }

  .border-active {
    width: 255px;
    position: relative;
    color: $dark-grey;
  }

  .border-active::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("/scss/pages/orgnew/orgnews/black-active.png");
    position: absolute;
    top: calc(50% - 12px);
    right: 15px;
  }

  .orgnews__menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .orgnews__item {
    border: 1px solid $light-grey;
    width: 220x;
    border-radius: 4px;
  }

  .orgnews__img {
    width: 220px;
  }

  .orgnews__box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .orgnews__data {
    font-size: 12px;
    font-weight: 400;
    color: $light-grey;
    margin-bottom: 10px;
  }

  .orgnews__subtitle {
    font-size: 16px;
    font-weight: 500;
  }

  .orgnews__subtext {
    font-size: 14px;
    font-weight: 400;
    color: $dark-grey;
  }

  .orgnews__btn {
    padding: 20px 96px;
    border-radius: 4px;
    background-color: $header-grey;
    color: $white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    margin: 0 80px;
  }

  .orgnews__pages {
    display: flex;
    gap: 40px;
    margin: 0 13px;
  }

  .orgnews__page {
    font-size: 14px;
    font-weight: 500;
    color: $dark-grey;
    padding: 1px;
  }
}

@media only screen and (max-width: 360px) {
  .orgnews__wrapper {
    padding: 30px;
  }

  .orgnews__info {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: start;
  }

  .orgnews__title {
    font-weight: 600;
    font-size: 24px;
  }

  .orgnews__inner {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .orgnews__border {
    padding: 7px 15px;
    border: 1px solid $light-grey;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: $black;
    border-radius: 6px;
    width: 300px;
  }

  .orgnews__text {
    font-size: 14px;
    font-weight: 400;
    color: $light-grey;
    word-spacing: 10px;
  }

  .text-active {
    color: $header-grey;
    font-weight: 600;
  }

  .border-active {
    width: 300px;
    position: relative;
    color: $dark-grey;
  }

  .border-active::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("/scss/pages/orgnew/orgnews/black-active.png");
    position: absolute;
    top: calc(50% - 12px);
    right: 15px;
  }

  .orgnews__menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .orgnews__item {
    border: 1px solid $light-grey;
    width: 300px;
    border-radius: 4px;
  }

  .orgnews__img {
    width: 300px;
  }

  .orgnews__box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .orgnews__data {
    font-size: 12px;
    font-weight: 400;
    color: $light-grey;
    margin-bottom: 10px;
  }

  .orgnews__subtitle {
    font-size: 16px;
    font-weight: 500;
  }

  .orgnews__subtext {
    font-size: 14px;
    font-weight: 400;
    color: $dark-grey;
  }

  .orgnews__btn {
    padding: 20px 96px;
    border-radius: 4px;
    background-color: $header-grey;
    color: $white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    margin: 0;
    width: 300px;
  }

  .orgnews__pages {
    display: none;
    gap: 40px;
    margin: 0;
  }

  .orgnews__page {
    font-size: 14px;
    font-weight: 500;
    color: $dark-grey;
    padding: 1px;
  }
}
